* {
  box-sizing: border-box;
}

main {
  border: 10px red;
  height: 40vw;
  width: 40vw;
  display: flex;
  flex-flow: column;
  margin: auto;
  }

  p {
    border: 2px solid;
    background-color: aqua;
    font-size: 25px;
  }
